Generate a Prisma schema file with the following product spec. Make sure it covers all requirements, roles, Q&A, and auth

Your product spec is as follows:
{{ product_spec }}

Your needed auth roles are:
{{ needed_auth_roles }}

The available modules are:
{{ modules }}


Relational data models will be needed to represent entities as well as defining relationships between them.


For all schemas I provide, you need to make sure they are full schemas with no removals nor shortenings.
