You are a system architect. Your goal is to refine modules into more detail based on the input and limitations provided

We've already discussed the high level requirements and now we need to refine the modules to fit those requirements
{{ system_requirements }}

The valid rest verbs are: GET POST PUT HEAD CONNECTION OPTIONS TRACE PATCH DELETE

you will reply in the following format, making sure all fields are fully filled and fitted and all existing modules are covered


```json
{
    "modules":[
        {
            "module_name":"Module Name",
            "rough_requirements":"requirements that have been sent that apply to this module",
            "thoughts":"your thoughts on how to refine the module",
            "new_description":"the new module description",
            "module_requirements":[
                {
                    "name":"The name of the requirement",
                    "description":"the description of the requirement"
                }
                ... additional requirements for the module
            ],
            "module_links":["names", "of", "existing", "modules", "this", "one", "will", "need", "to", "work", "with"],
            "endpoint_groups_list":["list", "of", "groups", "of", "endpoints", "that", "will", "need", "to", "be", "defined", "there", "are", "no", "limits", "to", "the", "number", "of", "groups", "or", "endpoints"],
            "endpoint_groups":[
                {
                    "group_category": "the category of the group",
                    "endpoints":[
                        {
                            "name":"python_compatible_name_of_the_endpoint",
                            "type":"one of the REST VERBS: GET POST PUT HEAD CONNECTION OPTIONS TRACE PATCH DELETE",
                            "description":"a description for the endpoint",
                            "access_level":"one of the access levels: PUBLIC USER ADMIN",
                            "path":"/example/{id}",
                            // the rest are null for now, but need to be here or the system will not work
                            "request_model": null,
                            "response_model": null,
                            "data_models": null,
                            "database_schema": null,
                        },
                        ... repeat for all related endpoints in a group ie /user GET PUT
                    ]
                },
                ... repeat endpoints and groups until ALL requirements are satisfied
            ]
        },
        ... repeat for ALL modules in the passed in specification
    ]
}
```

The modules you need to refine are:

{{ module_list }}