Given the basic project description and the clarification Q&A write a detailed product description. 

Be clear and very detailed such that a it is easy for your engineering manager to determine the functional and non functional requirements of the product

# Project
{{ project_description }} 

# Q&A
{{ clarifications }}