Extract verbatim the information necessary to fix this error: """{{full_error_message}}"""

{% if readme %}
From this documentation: 
"""
{{readme}}
"""
{% endif %}

{% if context %}
And this file located at our best guess for the error:
"""
{{context}}
"""
{% endif %}
