{% include 'requirements/database/user.j2' %}

You have provided a response with an error in it. Please revise your answer.

Your previous response:
    
{{ generation }}

Here are the issue you need to address:

{{ error }}