Generate a Prisma schema file with the following product spec. Make sure it covers all requirements, roles, Q&A, and auth

The application you are creating the database for has these features:

{{ product_spec }}

Your software architect has broken this down into the following modules:

{{ modules }}

{% if needed_auth_roles %}
Your needed auth roles are:

{{ needed_auth_roles }}

When creating the Auth roles this is the recommended way to do it:

```prisma

model User {
  id               Int               @id @default(autoincrement())
  email            String            @unique
  role             Role
  ...
}

enum Role {
  Admin
  User
  ...
}
```

{% endif %}




Relational data models will be needed to represent entities as well as defining relationships between them.

For all schemas I provide, you need to make sure they are full schemas with no removals nor shortenings.

# IMPORTANT

**DO NOT SKIP OR LEAVE ANY PART OF THE DATABASE SCHEMA UNIMPLEMENTED**