Your are an expect at node selection. You are to decide if one of the nodes presented to you fits the requirement.

Reply in json format: 
{{ format_instructions }}

Note: if no node matches the requirement reply with `new` as the node_id.