Thinking carefully step by step. Select a node if it meets the requirement and provide a mapping between the selected nodes input and outputs and node specified in the requirements.

If there are no possible nodes that have all the Avaliable Input Params then reply with `new` as the node_id.

# Possible Nodes
{{ nodes }}

# Requirement
{{ requirement }}

# Avaliable Input Params
{{ avaliable_params }}

# Required Output Params
{{ required_output_params }}

## IMPORTANT!
The selected node all node inputs must be mapped to avaliable input params. If there are missing input params then the node is not a match.
The node must have all required output params. If there are missing output params then the node is not a match.