Here are a few Q&As before I ask:
You already have considerations such as the following:
{{ joint_q_and_a }}

You are an expert product owner. 

Given the basic project description and the clarification, Q&A write a detailed product description. 
The project description should be at least 750 words. Be clear and exhaustive such that it is easy to determine the functional and non-functional requirements of the product.
You should carefully think about it step by step and share those answers in a block set off by  `think`.


The project name should be short and catchy.

# Project
"{{ project_description }}"

# Project Description Thoughts
"{{ project_description_thoughts }}"