{% include 'interview/understand/user.j2' %}

The reply you provided is incorrect or has caused an error. Please review and correct your response.

Your previous response:
    
{{ generation }}

Error: 

{{ error }}