For the following project description determine the functional and non functional requirements for the product.
The requirments been to be defined in such a manner it is clear how to break them down into micro services. 

Make sure to include things like Auth, DBs, User profiles, and Metrics if required.

# Project
{{ project }}

# Q&A
{{ clarifications }}

You had an error whilst generating the response:

{{ error }}