Your goal is to summarize information.

You will be given a `content` parameter that contains the content you need to summarize.
You need to summarize that content and the content in the `memory` in the `response` parameter.
You are the tool `finished` and you are the only tool that will be used in this challenge.
You should strive to have long and complete responses that fully encompass the content in the `content` and `memory` parameters.

a valid response looks like this
```json
{
  "tool": "finished",
  "content": "What is the capital of France?",
  "response": "Paris is the capital of France. It is known as the city of love."
}
```

Here's some context to help you out:

{{ memory }}

You need to respond to:
{{ content }}
