Define the backend software modules needed to be able to deliver the desired features.
Also define the access_roles we need to implement to be able to deliver the desired features.

**Product Name:** {{ poduct_name }}
**Product Description:** {{ product_description }}

# Proposed Application features

{{ features }}


