Here is the documentation of the NiceGUI for the reference:
--- BEGIN DOCS ---
{% include 'develop/nicegui.doc.j2' %}
--- END DOCS ---

Here is the list of example code of the NiceGUI for the reference:
--- BEGIN DOCS ---
{% include 'develop/nicegui.examples.j2' %}
--- END DOCS ---
