{%if error_message%}
You'd had an error, but we figured out a way to fix it. Here's the error message:
{{error_message}}

Here's a key piece of info we found that you need to fix it correctly:
{%endif%}
{{suggested_fix}}