Define the api endpponts required to deliver the desired features.

**Product Name:** {{ poduct_name }}
**Product Description:** {{ product_description }}

# Module to be developed

{{ module }}

# Inter Module Interactions

{{ interactions}}

# Available Access Roles
Think carefully about which endpoints need to be accessed Publicly and which need to be protected.

{{ roles }}

# IMPORTANT
The descriptions of each route needs to be very detailed exaplining what the route does, what the expected response is, how the route should work (apis it uses etc).