Define the api endpponts required to deliver the desired features.

**Product Name:** {{ poduct_name }}
**Product Description:** {{ product_description }}

# Module to be developed

{{ module }}

# Available Access Access Roles

{{ roles }}

IMPORTANT: The allowed_access_roles should be an empty list if the route is public.

Examples of API routes:

For User Management

POST /users - Create a new user.
GET /users - Retrieve a list of users.
GET /users/{userId} - Retrieve details of a specific user.
PUT /users/{userId} - Update a user's details.
DELETE /users/{userId} - Delete a user.


